<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-auth}" lang="en">

<body>
<section class="mt-5" layout:fragment="content">

    <table>
        <thead>

        </thead>
        <tbody>
        <tr th:if="${product != null}" th:each="product : ${products}">

            <td th:text="${product.name != null ? product.name : ''}">
            </td>
            <td th:text="${product.description != null ? product.description : ''}">
            </td>
            <td th:text="${product.price != null ? product.price : 0.0}">
            </td>

            <td th:text="${product.quantity != null ? product.quantity : 0}">
            </td>

            <td>
                <img th:src="${product.image_url != null ? product.image_url : '#'}" alt="Hello">
            </td>


        </tr>
        </tbody>
    </table>

    <br>

    <h1>New Product</h1>

    <form th:action="@{~/products}" th:object="${newProduct}" method="post" enctype="multipart/form-data">

        <label for="productName">Name: </label><input type="text" id="productName" th:field="*{name}" />
        <label for="productDescription">Description: </label><input type="text" id="productDescription" th:field="*{description}" />
        <label for="productPrice">Price: </label><input type="number" id="productPrice" th:field="*{price}" />
        <label for="productQuantity">Quantity: </label><input type="number" id="productQuantity" th:field="*{quantity}" />
        <input type="file" th:field="*{image}"/>
        <input type="submit" id="submit" value="Submit">
    </form>
</section>
</body>
</html>