<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/dashboard}" lang="en">

<body>
<section class="mt-5" layout:fragment="content">

    <div class="content-wrapper">
        <div class="inline">
            <h1 class="mr-3">All Products</h1>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saveProductModal">
                Add a new Product
            </button>
        </div>
        <div class="inline">

            <form th:action="@{~/products/bulk/upload}" method="post" enctype="multipart/form-data">

                <input name="file" id="file" type="file">

                <input type="submit" class="btn btn-primary" value="Upload products">
            </form>
        </div>



        <!-- Modal -->
        <!-- Modal Save-->
        <form  th:action="@{~/products}" th:object="${newProduct}" method="post" enctype="multipart/form-data">
            <div class="modal fade" id="saveProductModal" tabindex="-1" role="dialog" aria-labelledby="saveProductModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="saveProductModalTitle">Add new Product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">

                                <div class="row">
                                    <div class="col">
                                        <input th:field="*{name}" type="text" class="form-control" placeholder="Product name">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <textarea th:field="*{description}" class="form-control"  rows="3" col="10" placeholder="Description"></textarea>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <select class="custom-select mr-sm-2">
                                            <option selected>Kategoria</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-auto">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">$</div>
                                            </div>
                                            <input th:field="*{price}" type="text" class="form-control"  placeholder="Price">
                                        </div>
                                    </div>

                                    <div class="col-auto">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Cope</div>
                                            </div>
                                            <input th:field="*{quantity}" type="text" class="form-control"  placeholder="Price">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <input th:field="*{image}" type="file" class="form-control-file" >
                                    </div>
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" value="Submit" class="btn btn-primary">Save</button>
                    </div>

                </div>
            </div>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Description</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${product != null}" th:each="product : ${products}">
                <th scope="row"></th>
                <td><img th:src="${product.image_url != null ? product.image_url : '#'}" width="50px" height="50px"></td>
                <td th:text="${product.name != null ? product.name : ''}"></td>
                <td th:text="${product.description != null ? product.description : ''}"></td>
                <td>Kategoria</td>
                <td th:text="${product.price != null ? product.price : 0.0}"></td>
                <td th:text="${product.quantity != null ? product.quantity : 0}"></td>

                <td>
                    <form th:action="@{~/products/delete/__${product.id}__}" method="POST">
                        <input type="submit" class="btn btn-danger" value="Delete"/>
                    </form>
                    <button type="button" class="btn btn-warning" data-toggle="modal" th:attr="data-target='#editProductModal'+${product.id}">Edit</button>

                    <!-- Modal Edit-->
                    <div class="modal fade" th:id="'editProductModal' + ${product.id}" tabindex="-1" role="dialog" aria-labelledby="editProductModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editProductrModal">Edit Product</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{~/products/update/__${product.id}__}" th:method="PUT">
                                        <div class="row">
                                            <div class="col">
                                                <label>
                                                    Product name
                                                    <input name="name" type="text" class="form-control" th:value="${product.name}">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col">
                                                <label>
                                                    Description
                                                    <textarea name="description" th:value="${product.description}" class="form-control" rows="3" col="10"></textarea>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col">
                                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                    <option selected>Kategoria</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-auto">
                                                 <div class="input-group mb-2">
                                                     <label>
                                                         Price in $
                                                         <input name="price" type="text" th:value="${product.price}" class="form-control">
                                                     </label>
                                                 </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-auto">
                                                <div class="input-group mb-2">
                                                    <label>
                                                        Quantity
                                                        <input name="price" type="text" th:value="${product.quantity}" class="form-control">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col">
                                                <i>Photo Input (If you don't wnat to change the photo leave it.)</i>
                                                <input name="image" type="file" class="form-control-file">
                                            </div>
                                        </div>
                                        <input type="submit" class="d-none" th:id="'update'+${product.id}" >
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-warning" th:onclick="'submitUpdateForm('+ ${product.id} +');'">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>

                <script>
                    function submitUpdateForm(id){

                        document.getElementById('update' + id).click();
                    }

                </script>
            </tr>
            </tbody>
        </table>

    </div>
    </div>
</section>
</body>
</html>