<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:inkscape=""
      layout:decorate="~{layout/main-auth}" lang="en">

<body>
<section class="mt-5" layout:fragment="content">

    <table>
        <thead>

        </thead>
        <tbody>
        <tr th:each="product : ${products}">

            <td th:text="${product.name}">
            </td>
            <td th:text="${product.description}">
            </td>
            <td th:text="${product.price}">
            </td>

        </tr>
        </tbody>
    </table>
</section>
</body>
</html>